@font-face {
  font-family: Book;
  src: url(../fonts/Nanami-Book.otf);
}

@font-face {
  font-family: Light;
  src: url(../fonts/Nanami-Light.otf);
}

@font-face {
  font-family: Bold;
  src: url(../fonts/Nanami-Bold.otf);
}

@font-face {
  font-family: Luxia;
  src: url(../fonts/Luxia-Regular.otf);
}

* {
  font-family: Light;
}

body {
  overflow-x: hidden;
  background-color: #ffffff;
}

body nav {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav .logo {
  padding: 5px 10px;
  background: #7510f7;
  margin-left: 8%;
  border-radius: 10px;
  color: #ffffff;
  font-family: Bold;
  font-size: 20px;
}

body nav .rightPart {
  margin-right: 8%;
}

body nav .rightPart .mentorship {
  color: #141c3a;
  font-size: 18px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  margin: 0 20px;
}

@media (max-width: 768px) {
  body nav .rightPart .mentorship {
    display: none;
  }
}

body nav .rightPart .mentorship:hover {
  color: #7510f7;
}

body nav .rightPart .contactBtn {
  color: #7510f7;
  font-size: 16px;
  font-family: Bold;
  border: 2px solid #7510f7;
  border-radius: 30px;
  padding: 10px 20px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body nav .rightPart .contactBtn:hover {
  background-color: #7510f7;
  color: #ffffff;
}

body .intro {
  padding-top: 6vh;
}

body .intro .introTitle {
  color: #141c3a;
  text-align: center;
  font-size: 50px;
  font-family: Bold;
  height: 60px;
  overflow: hidden;
  -webkit-transition: 1s 1s;
  transition: 1s 1s;
}

body .intro .introTitle.hidden {
  padding-top: 60px;
}

@media (max-width: 768px) {
  body .intro .introTitle {
    font-size: 35px;
    height: auto;
  }
}

body .intro .introSubTitle {
  text-align: center;
  color: #141c3a;
  font-size: 20px;
  margin-top: 20px;
  -webkit-transition: 1s 1.3s;
  transition: 1s 1.3s;
  overflow: hidden;
  height: 30px;
}

@media (max-width: 768px) {
  body .intro .introSubTitle {
    height: auto;
  }
}

body .intro .introSubTitle.hidden {
  padding-top: 30px;
}

body .intro .avatar {
  width: 20%;
  margin: 30px auto;
}

@media (max-width: 768px) {
  body .intro .avatar {
    width: 50%;
  }
}

body .intro .avatar img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

body .intro .devices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 250px;
  margin: 60px auto 0;
}

@media (max-width: 768px) {
  body .intro .devices {
    width: 90%;
    height: auto;
  }
}

body .intro .devices img {
  width: auto;
  height: 100%;
}

@media (max-width: 768px) {
  body .intro .devices img {
    height: 100%;
    width: 100%;
  }
}

body .about {
  background-color: #7510f7;
  padding: 20vh 25% 40vh;
}

@media (max-width: 768px) {
  body .about {
    padding: 5vh 5% 15vh;
  }
}

body .about .aboutTitle {
  color: #ffffff;
  text-align: center;
  font-family: Book;
}

body .about .aboutDes {
  text-align: center;
  color: #ffffff;
  margin-top: 10px;
  font-size: 18px;
}

body .box {
  width: 80%;
  min-height: 500px;
  margin: -15% auto 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
          box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
  border-radius: 12px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  body .box {
    width: 90%;
  }
}

@media (min-width: 768px) {
  body .box .row .col-md-4:not(:last-child) {
    border-bottom: 0px solid #e6ecf8;
    border-right: 1px solid #e6ecf8;
  }
}

@media (max-width: 768px) {
  body .box .row .col-md-4:not(:last-child) {
    border-bottom: 1px solid #e6ecf8;
    border-right: 0px solid #e6ecf8;
  }
}

body .box .boxCard {
  padding: 70px 10%;
}

@media (max-width: 768px) {
  body .box .boxCard {
    padding: 40px 10%;
  }
}

body .box .boxCard .cardImg {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .box .boxCard .cardTitle {
  text-align: center;
  padding: 30px 0 10px;
  font-family: Bold;
  color: #141c3a;
}

body .box .boxCard .cardSubTitle {
  color: #7510f7;
  font-size: 18px;
  text-align: center;
  padding: 70px 0 10px;
  font-family: Book;
}

@media (max-width: 768px) {
  body .box .boxCard .cardSubTitle {
    padding: 40px 0 10px;
  }
}

body .box .boxCard .cardDes {
  text-align: center;
  color: #141c3a;
  margin-bottom: 5px;
}

body .skills .skillsTitle {
  font-family: Bold;
  width: 50%;
  margin: 120px auto 50px;
  text-align: center;
}

@media (max-width: 768px) {
  body .skills .skillsTitle {
    width: 90%;
    font-size: 30px;
  }
}

body .skills .skillsCon {
  margin-bottom: 100px;
}

body .skills .skillsCon .skillImg {
  margin: 0 auto;
  display: block;
  max-width: 60%;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
  margin-bottom: 40px;
  -webkit-filter: drop-shadow(2px 2px 1px #00000033);
          filter: drop-shadow(2px 2px 1px #00000033);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

body .skills .skillsCon .skillImg:hover {
  -webkit-filter: drop-shadow(4px 4px 4px #00000044);
          filter: drop-shadow(4px 4px 4px #00000044);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 768px) {
  body .skills .skillsCon .skillImg {
    margin-bottom: 30px;
  }
}

body .projectsIntro {
  background-color: #7510f7;
  padding: 20vh 25% 40vh;
}

@media (max-width: 768px) {
  body .projectsIntro {
    padding: 5vh 5% 15vh;
  }
}

body .projectsIntro .projectsTitle {
  color: #ffffff;
  text-align: center;
  font-family: Book;
}

body .projectsIntro .projectsDes {
  text-align: center;
  color: #ffffff;
  margin-top: 10px;
  font-size: 18px;
}

body .projects {
  width: 100%;
  min-height: 500px;
  margin: -15% auto 50px;
}

@media (max-width: 768px) {
  body .projects {
    margin: -20% auto 50px;
  }
}

body .projects .projectCrad {
  padding: 30px 10% 10px;
  -webkit-box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
          box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
  border-radius: 12px;
  background-color: #ffffff;
  margin-bottom: 20px;
}

body .projects .projectCrad .cardTitle {
  color: #7510f7;
  font-family: Bold;
  text-align: center;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .projects .projectCrad .cardImg {
  width: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  max-width: 70%;
  margin-bottom: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

body .projects .projectCrad .cardDes {
  text-align: center;
  height: 100px;
  margin-top: 20px;
}

body .projects .projectCrad .cardLink {
  text-align: center;
  color: #7510f7;
  text-decoration: none;
  display: block;
  margin: 30px auto;
  font-size: 18px;
  font-family: Book;
}

body .startProject {
  background-color: #141c3a;
  z-index: 10;
  position: relative;
  padding: 40px 0;
  width: 80%;
  color: #ffffff;
  margin: 0 auto -5%;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #141c3a;
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #141c3a;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  body .startProject {
    width: 90%;
    padding: 40px 20px;
    margin: 0 auto -50%;
  }
}

body .startProject .startProjectTitle {
  text-align: center;
}

@media (max-width: 768px) {
  body .startProject .startProjectTitle {
    margin-bottom: 40px;
  }
}

body .startProject .startProjectDes {
  text-align: center;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  body .startProject .startProjectDes {
    margin-bottom: 40px;
  }
}

body .startProject .startProjectLink {
  color: #ffffff;
  text-align: center;
  display: block;
  text-decoration: none;
  font-family: Book;
  border: 2px solid #7510f7;
  border-radius: 30px;
  padding: 10px 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 20px;
  margin: 0 auto;
}

body .startProject .startProjectLink:hover {
  background-color: #7510f7;
}

body footer {
  height: 50vh;
  background-color: #7510f7;
  padding-top: 120px;
}

@media (max-width: 768px) {
  body footer {
    padding-top: 60%;
    padding-bottom: 20% !important;
    height: auto;
  }
}

body footer .logo {
  padding: 5px 10px;
  background: #ffffff;
  border-radius: 10px;
  color: #7510f7;
  font-family: Bold;
  font-size: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 20px;
}

body footer .footerText {
  text-align: center;
  color: #ffffff;
  display: block;
  font-size: 25px;
  opacity: 0.8;
}
/*# sourceMappingURL=style.css.map */