$blue:#001F60;
@font-face {
	font-family: ACaslonProR;
	src: url("../fonts/ACaslonPro-Regular.otf");
}
@font-face {
	font-family: ACaslonProB;
	src: url("../fonts/ACaslonPro-Bold.otf");
}
@font-face {
	font-family: ACaslonProIB;
	src: url("../fonts/ACaslonPro-BoldItalic.otf");
}
*{
    font-family: ACaslonProR;
}
body{
    .coming-soon-edit{

    }
  .coming-soon{
      position: relative;
      height: 100vh;
      overflow: hidden;
      @media (max-width:768px) {
        height: auto;
    }
    .x-btn{
        display: none;
    }
    .corner-link{
        
        position: absolute;
        right: 30px;
        top: 30px;
        z-index: 20;
        button{
            background: transparent;
            border: none;
            font-size: 25px;
            color: $blue;
            font-family: ACaslonProB;
            &:focus{
                outline: none;
            }
        }
    }
    .bg-img{
        
        position: absolute;
        z-index: -2;
        overflow: hidden;
        width: 100%;
        height: 100vh;
        @media (max-width:768px) {
            width: 100%;
            height: 100%;
        }
        img{
            width: 100%;
            height: 100%;
            object-position: center;
            @media (max-width:768px) {
                width: auto;
                height: 100%;
            }
        }
    }
    .bg-cover{
        width: 100%;
        height: 100vh;
        position: absolute;
        background-color: #eee;
        opacity: .9;
        z-index: -1;
        @media (max-width:768px) {
            height: 100%;
        }
    }
    .media{
        width: 8%;
        height: auto;
        position: absolute;
        bottom: 20px;
        right: 20px;
        display: flex;
        justify-content: space-around;
        
        @media (max-width:768px) {
            width: 50%;
            margin: 0 20%;
        }
        a{
            @for $i from 1 to 30 {
                &:nth-child(#{$i}) { animation-delay: $i * 0.2s !important; }
              }
            display: inline-block;
            width: 20px;
            height: 20px;
            @media (max-width:768px) {
                width: 30px;
                height: 30px;
            }
            img{
                height:  100%;
                width :  100%;
            }
        }
    }
    .logo-con{
        padding: 50px 80px 0;
        transition: 1s .2s;

        img{
            transition: 1s .1s;
            width: 100%;
            height: auto;
            transform: scale(1.1);
            @media (max-width:768px) {
                width: 50%;
                margin: 0 25%;
            }
            @media (max-width:567px) {
                width: 100%;
                margin: 0 0;
            }
            
        }
    }
    .coming-soon-text{
        margin-top: 25%;
        padding-left: 2%;
        @media (max-width:768px) {
            margin-top: 3%;
        }
        .title{
            position: relative;
            font-size: 45px;
            font-family: ACaslonProB;
            color: $blue;
            letter-spacing: 8px;
            @media (max-width:768px) {
                font-size: 30px;
            }
            .blue-line{
                position: absolute;
                bottom: 5px;
                width: 8%;
                height: 3.5px;
                left: 2px;
                background-color: $blue;
            }
        }
        .des{
            
            font-size: 25px;
            color: $blue;
            font-family: ACaslonProB;
            margin-top: 20px;
            width: 65%;
            @media (max-width:768px) {
                width: 90%;
            }
            
        }
        .timer{
            width: fit-content;
            color: $blue;
            margin-top: 30px;
            
            @media (max-width:768px) {
                margin-bottom: 80px;
                margin-left: 10%;
                
            }
            .timer-card{
                @for $i from 1 to 30 {
                    &:nth-child(#{$i}) { transition-delay: $i * 0.2s !important; }
                  }
                  @for $i from 1 to 30 {
                    &:nth-child(#{$i}) { animation-delay: $i * 0.2s !important; }
                  }
                display: inline-block;
                margin-right: 60px;
                @media (max-width:768px) {
                    margin-right: 10px;
                }
                .rword{
                    text-align: right;
                    font-size: 25px;
                }
                .number{
                    font-size: 60px;
                    font-family: ACaslonProB;
                    padding-right: 60px;
                    transform: translateY(-10px);
                    animation-duration: .5s !important;
                }

            }
        }
    }
    .aboutus-text{
        transition: .5s;
        margin-top: 10%;
        padding-left: 5%;
        @media (max-width:768px) {
            margin-top: 3%;
        }
        .title{
            animation-delay: 0s !important;
            position: relative;
            font-size: 45px;
            font-family: ACaslonProB;
            color: $blue;
            .blue-line{
                position: absolute;
                bottom: 5px;
                width: 8%;
                height: 3.5px;
                background-color: $blue;
            }
        }
        .des{
            animation-delay: .1s !important;
            font-size: 19px;
            color: $blue;
            font-family: ACaslonProB;
            margin-top: 20px;
            width: 90%;
            line-height: 35px;
            
        }
        .sub-title{
            position: relative;
            font-size: 27px;
            font-family: ACaslonProB;
            color: $blue;
            margin-top: 30px;
            margin-bottom: 20px;
        }
        .contacts{
            animation-delay:.6s;
            @media (max-width:768px) {
                margin-bottom: 70px;
            }
            .contact{
                position: relative;
                color: $blue;
                font-size: 19px;
                font-family: ACaslonProB;
                margin-bottom: 20px;
                @for $i from 1 to 30 {
                    &:nth-child(#{$i}) { animation-delay: $i * 0.3s !important; }
                  }
                 
                span{
                    font-family: ACaslonProB;
                    margin-right: 10px;
                    font-size: 22px;
                }
                .blue-line{
                    position: absolute;
                    bottom: 0;
                    width: 35px;
                    height: 3.5px;
                    left: 0;
                    background-color: $blue;
                }
            }
            
        }
      
    }
  }    
}